* {margin: 0px; padding:0px;background:black; color: green;border: none;}
.video {width:75%;height:80%;position: absolute;top: 0px; left: 0px;}
.controls {width:100%;height:20%;position: absolute;bottom: 0px; left: 0px;}
.chat {width: 25%;height:80%;position: absolute;top: 0px; right: 0px;}
